.game-board {
  background-color: aquamarine;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
  height: 420px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.play-button {
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.timer-container{
    background-color: rgb(238, 238, 238);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tile-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.singleTile {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

.register {
  text-align: center;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 5px;
  margin: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  transition: transform 0.3s;
}

.register h2 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 20px;
}

.register input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #4286f4;
}

.register label {
  font-size: 1.5em;
}

button {
  background-color: #4286f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: 10px 0;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #373b44;
}

.login {
  text-align: center;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 5px;
  margin: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  transition: transform 0.3s;
}

.login h2 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 20px;
}

.login input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #4286f4;
}

.login label {
  font-size: 1.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

.letterBox {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: antiquewhite;
  font-size: 2rem;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.virtualKeyboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.keyboardRow{
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.key{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #eee;
  font-size: 14px;
  font-weight: bold;
}

.specialKey{
  width: 40px;
  font-size: 14px;
}