.game-board {
  background-color: blue;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
  height: 420px;
  opacity: 25%;
}

.tile-row{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.singleTile{
  color: antiquewhite;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}